body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  position: fixed;
  background-image: url("https://images.pexels.com/photos/302549/pexels-photo-302549.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
  background-size: cover;
  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.filter {
  opacity: 0.9;
  width: 40%;
  display: inline-block;
  clear: both;
}

.trip-container {
  height: 100%;
  margin-bottom: 10%;
  overflow: auto;
}

.trip-list {
  position: relative;
  overflow: auto;
  width: 60%;
  height: 500px;
  display: inline;
  float: right;
}

.card {
  opacity: 0.9;
}

.right {
  float: right;
}
